@media (min-width: 768px) {
  .slick-slider.slick-initialized.slick-dotted {
    margin: 0 auto;
    max-width: 100%;
  }

  .slick-slider.slick-initialized.slick-dotted .slick-list {
    width: 100%;
  }

  .slick-slider.slick-initialized.slick-dotted .slick-slide {
    /* text-align: center; */
    margin: 0;
    padding: 0;
    width: auto !important;
  }

  .slick-slider.slick-initialized.slick-dotted .slick-track {
    display: flex;
    justify-content: center;
    width: 100% !important;
    transform: none !important;
  }
}
