.whatsapp-float {
  position: fixed;
  width: 53px;
  height: 53px;
  bottom: 30px;
  right: 97px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #128C7E;
  color: #FFF;
  transform: scale(1.1);
}
